body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

li>button {
  color: red;
  font-weight: bolder;
  padding: 4px 8px;
  visibility: hidden;
}

li:hover>button,
li:focus-within>button {
  visibility: visible;
}

main {
  text-align: left;
}

ul {
  padding: 0;
  list-style-type: none;
}

main>button {
  background: seagreen;
  color: #fff;
  font-size: small;
}




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}